.container {
  padding-top: 40px;
}
.aroundLine {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid rgb(191, 185, 162);
  border-radius: 4px;
  padding-bottom: 20px;
}
p {
  max-width: 600px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none !important;
}
.celsius,
.fahrenheit {
  position: relative;
  top: -30px;
}

h1 {
  padding-left: 30px;
}
form {
  position: relative;
  top: 65px;
  padding-left: 70px;
}
.fa-sharp {
  color: orange;
  font-size: 50px;
  padding-left: 30px;
}
.currenttemperature {
  font-size: 50px;
  padding-left: 3px;
}
